@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
    margin: 0;
    padding: 0;
    padding-top: 100px;
}

header{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    z-index: 1000;
}

.titulo{
    background-color: rgb(35, 55, 120);
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.menu{

    display: flex;
    align-items: center;
    padding: 0 10px 0 30px;
}

.titulo img{
    height: 100px;
    width: auto;
}

.btn-login{
    margin: 0;
    color: white;
    font-family: Arial, sans-serif;

    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.btn-login img{

    width: auto;
    height: 80px;
}

.btn-quem{
     
    margin: 0;
    color: white;
    font-family: Arial, sans-serif;

    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.principal{

    width: 50%;
    text-align: left;

    margin:100px auto 50px 30px;

    font-family: 'Poppins', sans-serif;

}

.imagem-inicial{

    margin: 100px 200px 0 0;
}

.imagem-inicial img{

    width: 100%;
    max-width: 500px;
    height: auto;
}

.conteudo{
    width: 100%;
}

.apresentacao{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.fundo-escola {
    width: auto;
    height: 600px;

    background-image: url("img/Padrão\ Escolar\ de\ Doodles\ em\ Azul-Marinho.png");
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: space-between;    
    align-items: flex-start;

    box-sizing: border-box;

    padding:  200px 0 0 60px;

    font-family: 'Poppins', sans-serif;
}


.texto-login h1 {
    color: white;
    font-size: 45px;
    margin: 5px 0;
}

.texto-login h1 b {
    color: red;
}

.login-main{

    margin: 50px 50px 0 auto;

}

.login-main img{

    width: 100%;
    max-width: 500px;
    height: auto;
}
